body {
  background-color: #b2e9fd;
}

.header h2 {
  color: #dc4247;
}

.header p {
  color: #50524f;
}

.results {
  margin-top: 20px;
}
.movies-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
